{% extends "base.html" %}
{% load static %}

{% block title %}<title>Lettings</title>{% endblock title %}

{% block content %}

<div class="d-flex mx-4 titre">
    <div>
        <img src="{% static 'img/best_place.svg' %}" alt="" width="150" height="120">
    </div>
    <div>
        <h1 class="display-4 mt-3">Lettings</h1>
    </div> 
</div>
<hr>

<div class="content">

    {% if lettings_list %}
        <ul class="list-group">
    {% for letting in lettings_list %}
        <li class="list-group-item list-group-item-light d-flex">
            <img src="{% static 'img/sweet_home.svg' %}" alt="" width="70" height="55">
            <a href="{% url 'letting' letting_id=letting.id %}" class="list-group-item list-group-item-action list-group-item-info">
                {{ letting.title }}
            </a>
        </li>
    {% endfor %}
        </ul>
    {% else %}
        <p>No lettings are available.</p>
    {% endif %}  

</div>

<div class="row justify-content-evenly mt-4">
    <div class="col-1">
        <a href="{% url 'index' %}" class="btn btn-primary"><img src="{% static 'img/home.svg' %}" alt="">   Home</a>
        
    </div>
    <div class="col-1">
        <a href="{% url 'profiles_index' %}" class="btn btn-primary"><img src="{% static 'img/user.svg' %}" alt="">  Profiles</a>
    </div>
</div>

{% endblock content %}
