{% extends "base.html" %}
{% load static %}

{% block title %}<title>Lettings</title>{% endblock title %}

{% block content %}

<h1>Lettings</h1>
<hr>

{% if lettings_list %}
    <ul>
    {% for letting in lettings_list %}
        <li>
            <a href="{% url 'letting' letting_id=letting.id %}">
                {{ letting.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lettings are available.</p>
{% endif %}


<div class="row justify-content-evenly mt-4">
    <div class="col-1">
        <a href="{% url 'index' %}" class="btn btn-primary"><img src="{% static 'img/home.svg' %}" alt="">  Home</a>
        
    </div>
    <div class="col-1">
        <a href="{% url 'profiles_index' %}" class="btn btn-primary">Profiles</a>
    </div>
</div>

{% endblock content %}