{% extends "base.html" %}
{% load static %}

{% block title %}<title>Profiles</title>{% endblock title %}

{% block content %}

<div class="d-flex mx-4 titre">
    <div>
        <img src="{% static 'img/profile.svg' %}" alt="" width="150" height="120">
    </div>
    <div>
        <h1 class="display-4 mt-3">Profiles</h1>
    </div> 
</div>
<hr>

<div class="content">

    {% if profiles_list %}
        <ul class="list-group list-group-flush">
    {% for profile in profiles_list %}
        <li class="list-group-item">
            <a href="{% url 'profile' username=profile.user.username %}">
                {{ profile.user.username }}
            </a>
        </li>
    {% endfor %}
        </ul>
    {% else %}
        <p>No profiles are available.</p>
    {% endif %}  

</div>

<div class="row justify-content-evenly mt-4">
    <div class="col-1">
        <a href="{% url 'index' %}" class="btn btn-primary"><img src="{% static 'img/home.svg' %}" alt="">   Home</a>
        
    </div>
    <div class="col-1">
        <a href="{% url 'lettings_index' %}" class="btn btn-primary"><img src="{% static 'img/key.svg' %}" alt="">  Lettings</a>
    </div>
</div>

{% endblock content %}
